<%# Header %>

<%= render 'devise/shared/header' %>
    
<%# End of Header %>

<div>
  <%= render 'form' %>
</div>

<%# Footer %>

<div>
    <%= render 'devise/shared/footer' %>
</div>

<%# End of Footer %>
