/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@500&family=Roboto:wght@100;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color: #15182B;
    color: #fff;
}

// index

.index-public {
    position: relative;
}

.new-public-song,
.new-public,
.new-private {
    position: fixed;
    left: 75vw;
    margin-right: 25vw;
    margin-top: 5rem;
    white-space: nowrap;

    a,
    button {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #FF4D89;
        color: #fff;
        font-size: 1.15rem;
        padding: 0.75rem 0.75rem;
        border-radius: 25px;
    }

    a:hover,
    button:hover {
        background-color: #ff4d88bb;
    }
}

.public-posts,
.public-posts-new,
.public-posts-edit,
.private-posts,
.private-posts-new {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 7.5%);

    .public-posts-card,
    .public-posts-new-card,
    .private-posts-card,
    .private-posts-new-card {
        text-align: center;
    }

    .title {
        padding: 0.75rem 0.75rem;
        font-size: 1.35rem;
        font-weight: 550;

        p {
            border-bottom: 2px solid white;
        }

        strong {
            border-bottom: 1px solid white;
        }
    }

    .description {
        padding: 0.75rem 0.75rem;
        background-color: #fff;
        outline: none;
        border: none;
        border-radius: 5px;
        font-size: 1.15rem;
        color: #000;
    }

    .lyric {
        padding: 0.75rem 0.75rem;
        background-color: #fff;
        color: #000;
    }

    .edit-btn {
        background-color: rgb(1, 75, 47);
        padding: 0.5rem 0.5rem;
        border-radius: 25px;

        a {
            background-color: rgb(1, 75, 47);
            color: #fff;
            font-size: 1.15rem;
        }

        a:hover {
            background-color: rgb(1, 46, 29);
        }
    }

    .edit-btn:hover {
        background-color: rgb(1, 46, 29);
    }
}

.public-posts {
    margin-top: 5rem;
}

// new


.public-posts-new,
.public-posts-edit,
.private-posts-new {
    transform: translate(-50%, 50%);

    h2 {
        text-align: center;
    }
}

.private-posts {
    display: flex;
    transform: translate(-50%, 50%);
}

/* Media Queries */