// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
    position: relative;
    margin-top: 2vh;
    animation: removeAnimation 0s linear;
    // z-index: 100000;
    background-color: transparent;

    @keyframes removeAnimation {
        0% {}

        100% {}
    }

    .header-span {
        position: fixed;
        white-space: nowrap;
    }
}