// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* index */

.new-public-song-btn,
.new-back-btn {
    a {
        outline: none;
        border: none;
        background-color: #e03a72;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 550;
        padding: 0.75rem 0.75rem;
        border-radius: 25px;
    }

    a:hover {
        background-color: #ff4d88bb;
    }
}

.index-public {

    margin-top: -10vmin;

    .index-public-title {
        padding: 0.75rem 0.75rem;
        font-size: 1.35rem;
        font-weight: 550;

        p {
            border-bottom: 2px solid white;
        }

    }

    .index-public-description {
        padding: 0.75rem 0.75rem;
        background-color: #fff;
        outline: none;
        border: none;
        color: #000;
        font-size: 1.15rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .p-desc {
            background-color: #fff;
            color: #000;
            font-weight: 600;
        }
    }

    .index-public-lyrics {
        padding: 0.75rem 0.75rem;
        background-color: #fff;
        color: #000;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .p-lyric {
            background-color: #fff;
            color: #000;
            font-weight: 600;
        }
    }

}

/* new */

// and

/* edit */

.public-posts-new-main,
.public-posts-new-edit {
    // text-align: center;

    .form {
        position: relative;
        display: grid;

        .form-group-left-side {
            transform: translateX(-15vw);

            .form-group {

                .desc-input {
                    resize: none;
                }

                #post_title,
                #post_description,
                #post_lyric,
                #song_title,
                #song_description {
                    outline: none;
                    border: none;
                    background-color: #fff;
                    color: #000;
                    font-weight: 550;
                    padding: 0.5rem 5rem;
                }

                #post_title::placeholder,
                #song_title::placeholder {
                    text-align: center;
                    font-weight: 550;
                }

                label {
                    font-size: 1.15rem;
                }
            }
        }

        .form-group-right-side {

            position: absolute;
            transform: translateX(5vw);

            .lyric-input {
                resize: none;
            }

            #post_lyric {
                outline: none;
                border: none;
                background-color: #fff;
                color: #000;
                font-weight: 500;
                padding: 5rem 10rem;
            }

            label {
                font-size: 1.15rem;
            }
        }

        .actions {
            input[type="submit"] {
                margin-top: 5rem;
                cursor: pointer;
                padding: 1rem 5rem;
                font-size: 1.25rem;
                letter-spacing: 2px;
                border: none;
                outline: none;
                background: #C13E6F;
                border-radius: 25px;
            }
        }

    }
}