// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Devise Styling */

.notice-hide,
.alert-hide {
    display: none;
}

.alert {
    margin-top: 1rem;
    text-align: center;
    color: red;
}

#error_explanation {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signup-alert,
.login-alert {
    position: fixed;
    z-index: 10000;
    font-size: 1.25rem;
    margin-top: 8rem;
    left: 50%;
    transform: translate(-50%, 0%);
}

// Login and Signup

.login-svg,
.signup-svg {
    position: fixed;

    img {
        width: 100vw;
        height: 100vh;
    }
}

.login-header,
.signup-header {
    position: fixed;
    z-index: 10000;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: removeAnimation 0s linear;

    @keyframes removeAnimation {
        0% {}

        100% {}
    }
}

.login,
.signup {
    width: 25vw;
    height: 50%;
    display: grid;
    place-content: center;
    transform: translateY(25vh);
    margin: 0 auto;

    h2 {
        font-weight: 400;
        text-align: center;
    }

    .field>label {
        font-weight: 600;
    }

    #writer_email,
    #writer_password,
    #writer_password_confirmation {
        outline: none;
        border: none;
        background-color: #fff;
        text-align: center;
        color: #000;
        font-weight: 600;
        padding: 0.75rem 5rem;
        border-radius: 5px;
    }

    .actions {
        input[type="submit"] {
            cursor: pointer;
            padding: 1rem 5rem;
            font-size: 1.25rem;
            letter-spacing: 2px;
            border: none;
            outline: none;
            background: #C13E6F;
            border-radius: 25px;
        }

        p {
            font-weight: 600;
        }

        .sign-up-link,
        .log-in-link {
            color: #e06592;
            letter-spacing: 2px;
            font-weight: 600;
        }

        .forgot-password-link {
            font-weight: 600;
        }
    }
}