<%# Footer %>

    <footer class="bg-stone-800 text-center font-semibold text-2xl mt-4 fixed bottom-0 w-full xl:relative mt-16 custom:relative">
        <br/><br/>
        <span class="bg-stone-800">Wasak Beats 2022</span>
        <br/>
        <span class="bg-stone-800 text-xl mt-2">by: Isaac Sarte</span>
        <br/><br/>
    </footer>

<%# End of Footer %>
